{{extend 'layout.html'}}

<div id="info">
<h1>{{=module.name}} detail info</h1>

<dl>
  <dt>Name: {{=module.name}}</dt>
  <dt>Version: {{ =module.version }}</dt>
  <dt>Release: {{ =module.release }}</dt>
  <dt>Packages:</dt>
     {{ for pkg in packages: }}
    <dd>* {{ =pkg.name }} </dd>
    {{pass}}
    <dd> <a href="../reload_module_packages/{{=module.name}}">Reload...</a></dd>
  <dt>Sources:</dt>
    {{ for src in sources: }}
    <dd>* {{ =src.name }} </dd>
    {{pass}}
    <dd> <a href="../add_source/{{=module.name}}">Add...</a></dd>
  <dt>Upstream:</dt>
    {{ for up in upstreamse: }}
    <dd>* {{ =up.version }} </dd>
    {{pass}}
    <dd> <a href="../check_upstream/{{=module.name}}">Recheck...</a></dd>
</dl>
</div>

<hr>
